@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Format Hatası";
}

<h1 class="text-danger">Format Hatası</h1>
<h2 class="text-danger">Controller : @Model.ControllerName - Action : @Model.ActionName</h2>
<h3 class="text-danger">Hata Detayı : @Model.Exception.Message</h3>

